// Roboto
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-LightItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

// Magazine:
@font-face {
  font-family: Magazine;
  src: url(../fonts/MagazineLetterByBrntlbrnl-Regular.ttf);
}
