// colors:
$light-focus-col: white;
$light-bg-col: #edeade;
$light-text-col: black;

$dark-focus-col: #4d0099;
$dark-bg-col: #400080;
$dark-text-col: $light-bg-col;

// $dark-background-color: #400080;
// $light-text-color: #edeade; /* Bone: F9F6EE Alabaster: EDEADE */
//
// $light-background-color: $light-text-color;
// $dark-text-color: black;

$bg-col: var(--bg-col);
$focus-col: var(--focus-col);
$text-col: var(--text-col);

$contrast-bg-col: var(--contrast-bg-col);
$contrast-focus-col: var(--contrast-focus-col);
$contrast-text-col: var(--contrast-text-col);

// data

$text-padding-default: 1rem;

// header
$header-background-shift: 12.5dvh;

// content
$content-margin: 0 20%;

$content-border-radius: 1em;

$content-shadow-size: 0.1rem;
