<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    {% comment %} Import stylesheets based on frontmatter data {% endcomment %}
    {% for style in layout.styles %}
      {% assign path = "assets/css/" | append: style | append: ".css" %}
      <link rel="stylesheet" href="{{ path | relative_url }}">
    {% endfor %}
    {% for style in page.styles %}
      {% assign path = "assets/css/" | append: style | append: ".css" %}
      <link rel="stylesheet" href="{{ path | relative_url }}">
    {% endfor %}

  </head>
  <body>
    {{ content }}
  </body>

</html>
